:root {
  --primary: rgb(82, 117, 255);
  --bg: rgb(14, 14, 14);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
  max-width: 1000px;
}

/* Navbar */
.navbar {
  background-color: #fff;
  padding: 15px 0;
  border-bottom: 3px solid var(--primary);
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.dark-mode .navbar {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px; /* Rounded shape */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%; /* Rounded shape */
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-label {
  margin-left: 10px;
  margin-right: 2rem;
  font-size: 20px;
}

.dark-mode .slider:before {
  content: "🌙"; /* Moon emoji */
}

.slider:before {
  content: "☀️"; /* Sun emoji */
}

.navbar .container .logo span {
  color: var(--primary);
}

.navbar-links {
  display: flex;
  margin-top: 10px;
  gap: 40px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--primary);
}

.nav-link::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.4s linear;
}

.nav-link:hover::after {
  transform: scaleX(0.5);
}

/* Main */
.main {
  background-color: #fff;
}

.main__container {
  display: grid;
  grid-template-columns: 500px 500px;
  align-items: center;
  justify-self: center;
  height: 90vh;
  background-color: #fff;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .main__container {
  background-color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  margin-left: 6rem;
  margin-bottom: -2rem;
  font-size: 5rem;
  background-color: #ff8177;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h1 span {
  font-size: 7rem;
}

.main__content h2 {
  margin-bottom: -0.5rem;
  margin-left: 6rem;
  font-size: 3rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__btn {
  margin-left: 6rem;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  transition: 0.5s;
  text-decoration: none;
  font-weight: bold;
}

.dark-mode .main__btn {
  color: #333;
}

.main__btn:hover {
  background: transparent;
  color: #333;
  border: 2px solid #f77062;
  transition: 0.5s;
}

.dark-mode .main__btn:hover {
  color: #fff;
}

.main__img--container {
  text-align: center;
}

.main__img {
  height: 80%;
  width: 80%;
  margin-top: 6rem;
  margin-left: 4rem;
}

/* See More */
.see-more {
  margin-top: 6rem;
  height: 290px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .see-more {
  background: #333;
  transition: background-color 0.3s, color 0.3s;
}

.see-more p {
  margin-left: 15rem;
  color: #333;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.dark-mode .see-more p {
  color: #fff;
}

.see-more p span {
  color: var(--primary);
}

.see-more .see-more-button {
  margin-top: 0.5rem;
  margin-left: 15rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.5s;
  color: #fff;
}

.dark-mode .see-more .see-more-button {
  color: #333;
}

.see-more .see-more-button:hover {
  background: transparent;
  color: #333;
  border: 2px solid #f77062;
  transition: 0.5s;
}

.dark-mode .see-more .see-more-button:hover {
  color: #fff;
}

/* Footer */
.footer__container {
  background-color: var(--primary);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1216px;
  height: 5px;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.links {
  margin-top: 0.4rem;
}

.links a {
  padding: 0.7rem 1rem;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.links a:hover {
  color: var(--bg);
}

/* Social Icons */
.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__icon--link:hover {
  color: var(--bg);
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__rights {
  color: #fff;
}
